@media only screen and (max-width: 600px) {
    .Mobile {
        display: block;
    }

    .Desktop {
        display: none ;;
    }
    .image{
        height:10vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Mobile {
        display: block;
    }

    .Desktop {
        display: none ;;
    }
    .image {
        height: 10vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Mobile {
        display: block;
    }

    .Desktop {
        display: none ;;
    }
    .image {
        height: 10vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Mobile {
        display: none ;;
    }

    .Desktop {
        display: block;
    }
    .image {
        height: 20vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Mobile {
        display: none ;;
    }

    .Desktop {
        display: block;
    }
    .image {
        height: 20vh;
    }
}

lead{
    font-weight:bold;
}

row{
    padding-top:3vh;
    padding-bottom:3vh;
}