@model PasswordModel
<p class="display-1 mx-auto">Change Password</p>

<form asp-action="ChangePassword" asp-controller="Account" method="post" class="mx-auto">
    <div class="form-row mx-auto">
        <label class="col lead" asp-for="currentPasword"> Current Password </label>
        <input type="password" class="form-control col"
               asp-for="currentPasword"/>
    </div>
    <div class="form-row mx-auto">
        <label class="col lead" asp-for="newPassword"> New Password </label>
        <input type="password" class="form-control col"
               asp-for="newPassword"/>
    </div>
    <div class="form-row mx-auto">
        <label class="col lead" asp-for="confirmPassword"> Confirm Password</label>
        <input type="password" class="form-control col"
               asp-for="confirmPassword"/>
    </div>
    <div class="float-right">
        <button type="submit" class="btn mx-auto lead">Submit</button>
    </div>
</form>