@model PasswordResetViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_Layouts";
}

<div class="col-6 mx-auto" style="padding-top:5vh;padding-bottom:5vh;">
    <form asp-action="ResetPasswordVAsync" asp-controller="Account" method="post">
        <div class="form-group">
            <label asp-for="email">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" asp-for="email" />
        </div>
        
        <button type="submit" class="btn btn-primary">Send password reset link</button>
    </form>
</div>



