<link href="~/CustomCSS/contactcss.css" rel="stylesheet" />
<div class="row" style="padding-top:2vh;padding-bottom:3vh;">
    <p class="display-1 mx-auto">
        Contact Us!
    </p>
</div>
<div class="row mx-auto" style="padding-top:3vh;padding-bottom:2vh;" align="center">
    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle" src="/2.png" alt="Generic placeholder image" style="height: 20vh;">
        <div class="media-body">
            <h5 class="display-4">Dhanwanti Mishra Ma'am</h5>
            <p class="card-text lead">
                NAME: DHANWANTI MISHRA<br>
                DESIGNATION: TEACHER COORDINATOR FOR SOCIAL INITIATIVES<br>
                EMAIL: Dhanwanti.mishra@tsrs.org<br>
            </p>
        </div>
    </div>


</div>
<div class="row mx-auto" style="padding-top:2vh;padding-bottom:2vh;" align="center">

    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle" src="/2.png" alt="Generic placeholder image" style="height: 20vh;">
        <div class="media-body">
            <h5 class="display-4">Rohan Chadha</h5>
            <p class="card-text lead">
                NAME: ROHAN CHADHA <br>
                DESIGNATION: HEAD OF SOCIAL INITIATIVES 2018-19 <br>
                EMAIL: chadha.rohan@yahoo.com<br>
            </p>
        </div>
    </div>
</div>
<div class="row mx-auto" align="center" style="padding-top:2vh;padding-bottom:6vh;">


    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle" src="/2.png" alt="Generic placeholder image" style="height: 20vh;">
        <div class="media-body">
            <h5 class="display-4">Taarini Andley</h5>
            <p class="card-text lead">
                NAME: TAARINI ANDLEY <br>
                DESGINATION: SECRETARY OF SOCIAL INITIATIVES 2018-19 <br>
                EMAIL: taarins13@gmail.com<br>
            </p>
        </div>
    </div>


</div>
