<link href="~/CustomCSS/contactcss.css" rel="stylesheet" />
<div class="row" style="padding-top:2vh;padding-bottom:3vh;">
    <p class="display-4 mx-auto">
        Contact Us!
    </p>
</div>
<div class="row" style="padding-top:2vh;padding-bottom:3vh;">
    <p class="lead font-weight-bold mx-auto">
        2018-19
    </p>
</div>
<div class="row mx-auto" style="padding-top:2vh;padding-bottom:2vh;" align="center">

    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle image" src="/2.png" alt="Generic placeholder image">
        <div class="media-body Desktop">
            
            <p class="card-text lead">
                Designation: Head of Social Initiatives <br />
                Name: Rohan Chadha <br />
                Email: chadha.rohan@yahoo.com<br />
            </p>
        </div>
        <div class="media-body Mobile">
            
            <p class="card-text lead">
                Designation: Head of Social Initiatives <br />
                Name: Rohan Chadha <br />
                Email: chadha.rohan@yahoo.com<br />
            </p>
        </div>
    </div>
</div>
<div class="row mx-auto" align="center" style="padding-top:2vh;padding-bottom:6vh;">
    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle image" src="/2.png" alt="Generic placeholder image">
        <div class="media-body Desktop">
            
            <p class="card-text lead">
                Designation: Secretary of Social Initiatives<br />
                Name: Taarini Andlay<br />
                Email: taarins13@gmail.com<br />
            </p>
        </div>
        <div class="media-body Mobile">
            
            <p class="card-text lead">
                Designation: Secretary of Social Initiatives<br />
                Name: Taarini Andlay<br />
                Email: taarins13@gmail.com<br />
            </p>
        </div>
    </div>
</div>
<div class="row mx-auto" style="padding-top:3vh;padding-bottom:2vh;" align="center">
    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle image" src="/2.png" alt="Generic placeholder image">
        <div class="media-body Desktop">
            
            <p class="card-text lead">
                Designation: Teacher coordinator for Social Initiatives<br />
                Name: Dhanwanti Mishra<br />
                Email: dhanwanti.mishra@tsrs.org<br />
            </p>
        </div>
        <div class="media-body Mobile">
            
            <p class="card-text lead">
                Designation: Teacher coordinator for Social Initiatives<br />
                Name: Dhanwanti Mishra<br />
                Email: dhanwanti.mishra@tsrs.org<br />
            </p>
        </div>
    </div>
</div>
<div class="row" style="padding-top:2vh;padding-bottom:3vh;">
    <p class="lead font-weight-bold mx-auto">
        2019-20
    </p>
</div>

<div class="row mx-auto" style="padding-top:3vh;padding-bottom:2vh;" align="center">
    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle image" src="/2.png" alt="Generic placeholder image">
        <div class="media-body Desktop">

            <p class="card-text lead">
                Designation: Head of Social Initiatives<br/>
                Name: Apoorvi Bharatram<br />
                Email: apoorvi14br@gmail.com<br />
            </p>
        </div>
        <div class="media-body Mobile">
            
            <p class="card-text lead">
                Designation: Head of Social Initiatives<br />
                Name: Apoorvi Bharatram<br />
                Email: apoorvi14br@gmail.com<br />
            </p>
        </div>
    </div>
</div>
<div class="row mx-auto" style="padding-top:3vh;padding-bottom:2vh;" align="center">
    <div class="col-8 media mx-auto">
        <img class="mr-3 img-fluid rounded-circle image" src="/2.png" alt="Generic placeholder image">
        <div class="media-body Desktop">

            <p class="card-text lead">
                Designation: Teacher coordinator for Social Initiatives<br />
                Name: Dhanwanti Mishra<br />
                Email: dhanwanti.mishra@tsrs.org<br />
            </p>
        </div>
        <div class="media-body Mobile">
            
            <p class="card-text lead">
                Designation: Teacher coordinator for Social Initiatives<br />
                Name: Dhanwanti Mishra<br />
                Email: dhanwanti.mishra@tsrs.org<br />
            </p>
        </div>
    </div>
</div>

