@model ClubViewModel
<link href="~/CustomCSS/ClubCSS.css" rel="stylesheet"/>
@*<div class="row">

        <div class="circularDiv ml-auto "><span class="align-middle">What happens in our meetings </span> </div>
        <div class="circularDiv">What can you do</div>
        <div class="circularDiv mr-auto">When do we meet</div>
    </div>*@
<div class="row">
    <p class="display-1 mx-auto Desktop"> Social Initiatives Club </p>
    <p class="lead mx-auto Mobile" style="font-size: 2rem; font-weight: bold;"> Social Initiatives Club </p>
</div>

<div class="row mx-auto" style="padding-bottom: 3vh; padding-top: 3vh;">

    <a href="#1" class="ml-auto">
        <img src="/Images/Club/g1646.png" class="zoom ml-auto image">
    </a>
    <a href="#2">
        <img src="/Images/Club/g1614.png" style="padding-left: 2vw; padding-right: 2vw;" class="zoom image">
    </a>

    <a href="#3" class="mr-auto">
        <img src="/Images/Club/g1667.png" class="zoom mr-auto image">
    </a>
</div>

<div class="row mx-auto" style="padding-top: 6vh;">
    <p id="1" class="display-3 mx-auto Heading">What happens in our meetings:</p><br/>
    <p class="col-10 lead mx-auto text-center">
        It is a platform for students to seek further information about various social initiatives and they can volunteer directly at the meetings.

        This is the best platform where you can seek immediate advice from the social initiatives team and kick start working on your project.

        In our meetings, we discuss a number of topics regarding the community, various social initiatives and other related current happenings will also be conducted.
    </p>
</div>

<div class="row mx-auto text-center" style="padding-top: 6vh;">
    <p id="2" class="display-3 mx-auto Heading">What can you do:</p>
    <div class="row mx-auto" style="margin-left: 2vw; margin-right: 2vw;">
        <div class="col-5 ml-auto solidborder" style="border-top-left-radius: 50px;">
            <p class="lead font-weight-bold">1. Talk about your project/ experience:<br/></p>
            <p class="lead">If you have a social initiative or any story or an experience related to the community, then you can talk about it during our meetings!<br/><br/></p>
        </div>

        <div class="col-5 mr-auto solidborder" style="border-top-right-radius: 50px;">
            <p class="lead font-weight-bold">
                2. Lead a discussion:<br/>
            </p>
            <p class="lead">
                If you feel extremely passionate about anything related to the community such as an issue, trend, or even a change, you can lead a discussion on the same during our meetings!<br/><br/>
            </p>
        </div>

    </div>
    <div class="row mx-auto" style="margin-left: 2vw; margin-right: 2vw;">
        <div class="col-5 ml-auto solidborder" style="border-bottom-left-radius: 50px;">
            <p class=" lead font-weight-bold">
                3. Write for our newsletter:<br/>
            </p>
            <p class="lead mr-auto">
                We will soon be unveiling our online Social Initiatives Newsletter which will have articles about topics such as: student-run social initiatives, information regarding Indian and global NGOs, personal experiences, and any other articles related to social initiatives<br/><br/>
            </p>
        </div>
        <div class="col-5 mr-auto solidborder" style="border-bottom-right-radius: 50px;">

            <p class="lead font-weight-bold">4. Attend our meetings:<br/></p>
            <p class="lead">Lastly, you are welcome to attend the meetings and become more involved in the field of community service!<br/><br/></p>
        </div>
    </div>


</div>
<div class="row mx-auto">

    <p class="display-4 mx-auto">Sign up now!</p>

</div>

<div class="row mx-auto">
    <form asp-action="PostForm" asp-controller="Club" method="post" class="mx-auto">
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <div class="form-row mx-auto">
            <label class="col lead" asp-for="name"> Name: </label>
            <input type="text" class="form-control col" placeholder="Enter your name"
                   asp-for="name"/>
        </div>
        <div class="form-row mx-auto">
            <label class="col lead" asp-for="name"> Class: </label>
            <input type="text" class="form-control col" placeholder="Enter your class"
                   asp-for="Class"/>
        </div>
        <div class="form-row mx-auto">
            <label class="col lead" asp-for="Section"> Section: </label>
            <input type="text" class="form-control col" placeholder="Enter your section"
                   asp-for="Section"/>
        </div>
        <div class="float-right">
            <button type="submit" class="btn mx-auto lead">Sign Up</button>
        </div>
    </form>

</div>
<div class="row mx-auto" style="padding-bottom: 5vh; padding-top: 10vh;">
    <p id="3" class="display-3 mx-auto Heading">When do we meet:</p><br/>
    <p class="col-10 mx-auto lead text-center">
        We meet every week during the Friday long lunch in the old conference room. Feel free to join our discussions and learn more about how you can make a positive difference in the lives of others!
    </p>
</div>